[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
PIPENV_VERBOSITY=-1

[dev-packages]
django-extensions = "*"
jupyter = "*"
ipython = "*"
ipykernel = "*"
autopep8 = "*"
django-debug-toolbar = "*"
pyyaml = "*"
uritemplate = "*"
django-silk = "*"

[packages]
pytz = "==2019.3"
django = "*"
python-decouple = "*"
pytest = "*"
pytest-django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-spectacular = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "python manage.py runserver --settings=server.settings.development"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
test = "py.test tests --ds=server.settings.development --disable-pytest-warnings"
client = "cd ../client && yarn run dev"
check = "python manage.py check --deploy --settings=server.settings.production"

[pipenv]
allow_prereleases = true
