:root {
    --main: #116466;
    --dark: #2C3531;
    --light: #D1E8E2;
    --accent-light: #FFCB9A;
    --accent-light-hover: #ffac5e;
    --accent-dark: #B95A00;
    --accent-dark-hover: #7e3d00;
}

body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin: 0 0 0.5em 0; */
    font-weight: 400;
    line-height: 1.2;
    color: var(--main);
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5em 0;
}

a {
    color: inherit;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

button,
a.button {
    color: var(--accent-dark);
    background-color: var(--accent-light);
    border: none;
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 480px) {
    h1 {
        font-size: 4em;
    }
}

.accentuated {
    color: var(--accent-dark)
}

input,
textarea {
    border: 2px solid var(--light);
    border-radius: 10px;
}

form input {
    margin: 15px 0;
    float: left;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form>* {
    float: left;
}

button.big {
    font-size: 110%;
    font-weight: 550;
    padding: 10px 10px;
}

button.active {
    background-color: var(--accent-dark);
    color: var(--accent-light);
}

textarea {
    width: 100%;
}

.danger {
    color: rgb(150, 0, 0);
    background-color: rgb(255, 179, 179);
}

button:hover,
a.button:hover {
    background-color: var(--accent-light-hover);
    transition: background-color 300ms;
}

button.active:hover {
    background-color: var(--accent-dark-hover);
}

button.danger:hover {
    background-color: rgb(255, 117, 117);
}

label {
    color: var(--main)
}